
      .send-button {
        background-color: rgb(25, 135, 84);
        color: white;
        padding: 12px 20px;
        border: none;
        margin-left: 10px;
        border-radius: 10px;
        font-size: 15px;
        cursor: pointer;

      }
      .Input-box{
        padding: 12px 15px;
        border-radius: 10px;
        font-size: 15px;
        border-width: 1px;
        flex-grow: 1;
      }
      .chat-input-component{
        display: flex;
        margin-bottom: 60px;
        
      }
      .app-container{
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        height: 100vh;
        display: flex;
        flex-direction: column;
      }
      .chat-message-user{
        display: flex;
        justify-content: end;
        align-items: center;
        
      }
      .chat-message-robot{
        display: flex;
        justify-content: start;
        align-items: center;
      }
      .chat-text{
        background-color: rgb(238, 238, 238);
        border-radius: 10px;
        padding: 12px 20px;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        max-width:  300px;
      }
      .chat-message-profile{
        width: 50px;
      }
      .chat-messages-container{
        flex-grow: 1;
        margin-top: 20px;
        overflow: scroll;
        scrollbar-width: none;
      }
      .welcome-message{
        color: rgb(120,120,120);
        text-align: center;
      }