.chat-message-profile{
        width: 50px;
      }
.chat-text{
        background-color: rgb(238, 238, 238);
        border-radius: 10px;
        padding: 12px 20px;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        max-width:  300px;
      }
      
.chat-message-user{
        display: flex;
        justify-content: end;
        align-items: center;
        
      }

.chat-message-robot{
        display: flex;
        justify-content: start;
        align-items: center;
      }
